html{
      position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 60px;
}
.sidebar{
	
	margin-top:20px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top:30px;
  height: auto;
  /* Set the fixed height of the footer here */
  background-color: #000000;
}
.dashboard-content{
	margin-top:20px;
}
.about-us-content{
  min-height: 500px;
  text-align: justify;
}
.contact-us{
  padding:100px 0px;
}
.thumbnail-logos{
  width: 50px;
  height: auto;
}
.logostore{
	height:300px;
	width:100%;
	display: block;
}
.action-row{
	border: 1px solid #EEEEEE;
	padding:10px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main-content{
  margin-top: 50px;
  height: 100%;
  margin-bottom:120px;
  display: block;
  position: relative;
}

.fullwidth{
  width: 100%;

}

.prod-img-link{
  margin:50px 0px;
  width: 100%;
  min-height: 500px;
  text-align: center;
}

.product-cat-img{
  padding: 50px;
  text-align: center;
  height: 100%;
}

.prod-cat-select ul{
  padding: 0px;
}

.prod-cat-select ul li{
  display: inline-block;
}
.product-body{
  padding: 20px 0px;
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
}
